== slim :'forms/field', locals: { id: "Isim",     label: "İsim",            type: :text }
== slim :'forms/field', locals: { id: "Soyisim",  label: "Soyisim",         type: :text }
== slim :'forms/field', locals: { id: "e-posta",  label: "e-posta",         type: :email }
== slim :'forms/field', locals: { id: "telefon",  label: "Telefon No ",     type: :tel }

.form-group
  label.control-label.col-lg-3.col-md-3 for="message" Mesajınızı İletmek İçin Yazınız...
  .control.col-lg-9.col-md-9: textarea#mesaj.form-control name="mesaj" rows="3"
