== slim :'forms/field', locals: { id: "Isim",         label: "İsim",            type: :text }
== slim :'forms/field', locals: { id: "Soyisim",      label: "Soyisim",         type: :text }
== slim :'forms/field', locals: { id: "KimlikNo",     label: "T.C. Kimlik No",  type: :text }
== slim :'forms/field', locals: { id: "Meslek",       label: "Meslek",          type: :text }
== slim :'forms/field', locals: { id: "IlgiAlanlari", label: "İlgilendiğiniz Konular", type: :text }
== slim :'forms/field', locals: { id: "Sehir",        label: "İl ",             type: :text }
== slim :'forms/field', locals: { id: "Ilce",         label: "İlçe ",           type: :text }
== slim :'forms/field', locals: { id: "e-posta",      label: "e-posta",         type: :email }
== slim :'forms/field', locals: { id: "telefon",      label: "Telefon No ",     type: :tel }

.form-group
  label.control-label.col-lg-3.col-md-3 for="message" Mesajınızı İletmek İçin Yazınız...
  .control.col-lg-9.col-md-9: textarea#message.form-control rows="3"