Title: Yeşiller ve Sol Gelecek Partisi
Link text: Anasayfa
Template: welcome
Carousel: [
{img: "https://lh3.googleusercontent.com/WoSctK8XZp33hHx8Mnyrdf2pWVyyfx7LEjC_QaUTthFmmWNgu9HPjx0sP2b2gPpWZ1VNVq6dwJrZ6JJem6UfUYQKWEwxBLUXW8Pi-_czsoIxXrrsh3l_py3qYjMr7na284IczK9JVIctkNLSedFdyuhd6jVI-dVdmLBgdd0Wefx2B_UVUN_WEepDpDhqAzg1o0L37Lw1v0gE4F-WAJSAWQSwOWYY8G_-i4lHzCFxXg7U_lZxnNNRygymfskFM7Io8f00-ntBFdz62CaepM6QnFw6dltbK4sJrA9Qo8TKmZBcfOITLpNbrNqNTiM2VjSzw5kgQIN-Ydk0NT0GlK85deLG4FPtxPw05VmjL7qoV2U6GuusLfthp2gy7xSrAXJDjXsjVaTpVFoZ_sJl7yb7npqBEZ6L5dvIkOCRjLoa5BEVlfblBmuYrexwVtm4r3XNE8iSEQAA9sm8fNBaloERbqUrVXH7UAIdPkcENDAVk-4snQPV5N_Pu6zEB-ZzT1TVc7xq5EaCfdKjrpah-bQSPXMK6iv8iOX7lMlGhnJt5q6Po8fSPmNpr7fEvlDy29PXWyDZ=w720-h370-no", link: "/diyoruz-ki/duyurular/2016-01-31", title: "Büyük Konferansa Doğru", desc: "bölge toplantılarında buluşuyoruz" },
{img: "https://lh3.googleusercontent.com/yG16hU3GTO9sw8dRDGO2CED3Er2RGjzSOVxxJ6W9cHk8rCqe7VkphKBvAnENNaBkxs9r4AZv2UXyU9bGfHsjMiloKfpFiHifYqAe3qbhhHJ_uqxDNO1V5Ye7U6qx2JZnasxD3WBSmiad-v8P0Vnd2X3OnNLG0YE94zhsA8GJMWtsh6ejBaGzWxQ5JzZK2ueXDuzknZOfThg6AKJiiO7TnM0uQFiGQEYUfrkCAT9iahTmfFjGuv-i6PK8qmfY_v1rWuyzXu7121u-zVh70gS8PIg_wA8IXpDfzKZi3AIjMIO1P8MsKbMyEQOYq3Hkw5EvTQK9GXJ0Tea6MOI5tMu8__3DEBJCEhfdFbWCRKqNvHJ5yPi_y_YLkCX5ZyvP-AgKZJ0Mlb9LepvNiI5ik8WwWHXtdUqo73183crhfBetvpgnBvBG485tp0-XGSKh-3XLGKoHYGN5Zeu0Ia8n6Co3MgQOk3zky1Lb17cToWLFtRzqfrmbA9RY4JU_hWg5WSpkoosv63JkkVyC_-cfVIOusjNa4iVDdV6RtRTKTUfnqeFbnut8R1VADMcKool1N4nU9EQA=w720-h370-no", link: "/diyoruz-ki/basin-aciklamalari/2016-01-13", title: "Artık Yeter!", desc: "Şiddeti durdurup, siyasete şans verelim!" },
{img: "https://lh3.googleusercontent.com/dOhqZS9JuDdKoSnH1zdKnU56opNGEzGywu5lsLoz_Lfzb8VBHikAphuX3cwvpN9KjkDhfSBigpp4AuVRMlPXHC-D_BODgakwNdq22L6aBO1-0fisb3-mevjrL5zez2P1duNFVrbs9XrUH_dgndxEMes-V77r10cMFw5CONi7mIZpLD3XhXw8IZfPY1PJOehHmYcWlkHrzPiugRhYEDgOU4DRbxBrMyTE0lqat93AA24UeogOnn5ywFOst9TSoXKyuVNFws8HwRFi7fW_wwJI09wwdIPC2PG7qXraexR3EEwbW5qW98qLEQx_vQYgDFTFq2q9DIaCqqbn-VcWFLPurq_Iux_Csqv85VZi0gLJX_3Q9CJIdhoTMcnldVN_jFwurZTtQzzra4WN4A7nCbBO_wqciFI3okCAFkDjSjbuR6qT2-AimJ7q0deBXD4inBorpCoiLDbESh8ivsk7QhlIEnA4sdKDn8j5xvMO_Hn4VHTLVMjgu68rQzmYQwFO7xCv8hOMjQa4hm6bRBjV1HBaeA0qCErxRZbhG41RR9b2ABvapFc3oLRLU4uDxAV9OsozfuKK=w720-h370-no", link: "/diyoruz-ki/basin-aciklamalari/2016-01-02", title: "Silahlar Susmalı, Fikirler Konuşmalı", desc: "Demokratik siyasetin önü açılarak, müzakereler başlatılmalıdır" },
{img: "https://lh3.googleusercontent.com/-FdOBmGWfk68/UzQRqd6C0-I/AAAAAAAAB4s/5jObwrjA3Hw/w713-h371-no/hap.jpg", link: "/belgeler/soru-cevap", title: "Yeşiller ve Sol Gelecek Kendini Anlatıyor", desc: "444 soru ve cevaplarıyla kendimizi anlatmaya çalıştık" }
]


%section.clearfix.hidden-xs.hidden-sm
  %h1.hidden Anasayfa

  - if @page.metadata("Carousel")
    = slim :'partials/carousel', layout: false, locals: { slides: @page.metadata("Carousel") }

%hr

%section.clearfix.box-4
  %heading
    %h2.hidden Basın Açıklamaları
  = slim :'partials/list', locals: { collection: articles_in_category('basin-aciklamalari', 8) }

%hr

%section.clearfix.box-4
  %heading
    %h2.hidden Yerinden Gazetesi
  = slim :'partials/list', locals: { collection: articles_in_category('yerinden-gazetesi', 8) }

%hr

  %heading
    %h2.hidden 4 Adalet Kampanyası
= slim :kampanya_4a, layout: false
