Title: Yeşiller ve Sol Gelecek Partisi
Link text: Anasayfa
Template: welcome
Carousel: [
{img: "https://lh5.googleusercontent.com/-R_IPlqW96OE/Uv9i2KRCjSI/AAAAAAAABRw/hCQzfY9MCOE/w720-h405-no/%25C5%259Fehirsenin.jpg", link: "/bizden/yerinden-gazetesi", title: "Şehir Bizim Şehrimiz Geri Alcaz Yan Yana", desc: "Yerinden Gazetesi ile yerelden ve yerinden haberlere ulaşmak için tıklayın." },
{img: "https://lh4.googleusercontent.com/-mw5bxBTbTyc/Uv9wdQ7PG_I/AAAAAAAABSs/PLtQ7cyES_s/w978-h663-no/sirri.jpg", link: "/bizden/yerinden-gazetesi/sirri-sureyya", title: "Sırrı Süreyya Önder", desc: "İlk Yapacağımız Şey TOKİ’yi Bu Kentten Sürgün Etmek Olacak" },
{img: "https://lh3.googleusercontent.com/-mk9ZIqA37K8/UwOd8fpzG6I/AAAAAAAABeM/HX2dnOliCCs/w720-h405-no/adalar1.jpg", link: "/bizden/yerinden-gazetesi/adalar-acilis", title: "Adalar’da erkek siyasete inat, HDP’nin bütün adayları kadın", desc: "Adalar Seçim Bürosu Açıldı" }
{img: "https://lh3.googleusercontent.com/-XbgJ3H3LSd0/Uv9pTBeamxI/AAAAAAAABSQ/6D53IQuUBZs/w995-h663-no/hopa-01.jpg", link: "/bizden/yerinden-gazetesi/hopa-01", title: "Hopa’da 5 yıl sonra yeniden doğrudan demokrasi deneyimini yaşatacağız", desc: "Yılmaz Topaloğlu ile seçim çalışmalarını konuştuk…" }, 
{img: "https://lh5.googleusercontent.com/-RVQozfe-oFw/Uv9qoKeot3I/AAAAAAAABSc/PBcR4xsZqK0/w885-h663-no/karadeniz-01.jpg", link: "/bizden/yerinden-gazetesi/karadeniz-01", title: "Karadeniz’de HDP ile üçüncü yol mümkün!", desc: "Giresun, Samsun, Ordu ve Hopa'da çalışmalar sürüyor" },
  ]


%section.clearfix.hidden-xs.hidden-sm
  %h1.hidden Anasayfa

  - if @page.metadata("Carousel")
    = slim :'partials/carousel', layout: false, locals: { slides: @page.metadata("Carousel") }

%hr

%section.clearfix.box-4
  %heading
    %h2 Basın Açıklamaları
  = slim :'partials/list', locals: { collection: articles_in_category('basin-aciklamalari', 8) }

%hr

%section.clearfix.box-4
  %heading
    %h2 Yerinden Gazetesi
  = slim :'partials/list', locals: { collection: articles_in_category('yerinden-gazetesi', 8) }

%hr

  %heading
    %h2 4 Adalet Kampanyası
= slim :kampanya_4a, layout: false
