Title: Yeşiller ve Sol Gelecek Partisi
Link text: Anasayfa
Template: welcome
Carousel: [
{img: "https://lh3.googleusercontent.com/-gfcE0vRdLfY/UzQQV4eZYvI/AAAAAAAAB4U/oY3KFgvXPsM/w544-h370-no/sorucevap.jpg", link: "/belgeler/soru-cevap", title: "Yeşiller ve Sol Gelecek Kendini Anlatıyor", desc: "444 soru ve cevaplarıyla kendimizi anlatmaya çalıştık" },
{img: "https://lh4.googleusercontent.com/-BOas17a29jM/Uy2IRHC5k0I/AAAAAAAABwU/EeSQoINUuxo/w719-h373-no/hdp.jpg", link: "/bizden/yerinden-gazetesi/hdpsaldirilar", title: "Halklarımızla aramıza duvarlar örülmesine izin vermeyeceğiz", desc: "Yolumuza yürümeye devam edeceğiz" },
{img: "https://lh3.googleusercontent.com/-fIbwRTzTfMw/Uy2H3AUCPYI/AAAAAAAABvs/uTIYF11sB0o/w719-h373-no/genclik.jpg", link: "/bizden/yerinden-gazetesi/genclik1", title: "Bu iş hiç de zor değil yonca…", desc: "Gençler adına, gençler için değil, doğrudan gençlerin söz ve karar sahibi olduğu yerinden yönetimler mümkün" },
{img: "https://lh3.googleusercontent.com/-F5D-XvYsj7E/Uy2H1YJFSjI/AAAAAAAABvc/1A2gUt-Uu40/w719-h373-no/cinsiyet.jpg", link: "/bizden/yerinden-gazetesi/cinsiyet-1", title: "Cinsiyete duyarlı, eşitlikçi kentler", desc: "Biz kadınlar yerel yönetimlerden ne istiyoruz?" },
{img: "https://lh5.googleusercontent.com/-uzxYGsWliQ8/Uy2H4bCv9OI/AAAAAAAABwA/uPDHWLNeTEg/w719-h373-no/yerel.jpg", link: "/bizden/yerinden-gazetesi/ekonomi1", title: "Yerel Yönetimler ve Yerel Ekonomiler", desc: "Neden Hopa’da bir “Belediye Tamirhanesi” olmasın?" },
{img: "https://lh4.googleusercontent.com/-8yEcDlIBiFo/Uy2H2yVUprI/AAAAAAAABvk/k4Cirww9vIk/w719-h373-no/doga.jpg", link: "/bizden/yerinden-gazetesi/dogahaklari-1", title: "Doğa Hakları ve Katılımcı Yerel Yönetim Anlayışı", desc: "Güçlü yerel yönetimler doğa haklarının gözetilmesine katkıda bulunur" },
{img: "https://lh4.googleusercontent.com/-H9J1JhvWa58/Uy2H4_cITvI/AAAAAAAABwE/beoBYID6rxc/w719-h373-no/hayvan.jpg", link: "/bizden/yerinden-gazetesi/hayvanhaklari", title: "Hayvan dostu kent, aynı zamanda insan dostu bir kent demektir!", desc: "Hayvanların özgürleşmesi, insanları da özgürleştirecektir!" },
{img: "https://lh5.googleusercontent.com/-oTErVMyeBS8/Uy2H2dDNY2I/AAAAAAAABvw/PXXqpBWi31o/w719-h373-no/elcin.jpg", link: "/bizden/yerinden-gazetesi/elcinoz3", title: "HDP farklı bir yol da var demenin adresi", desc: "HDP Çankaya Eş Başkan Adayı Elçin Öz’le seçim çalışmalarını konuştuk" },
{img: "https://lh6.googleusercontent.com/-wM9qrVfhkYs/Uy2H4MXhCGI/AAAAAAAABv4/WddI2sHLWo8/w719-h373-no/korhan.jpg", link: "/bizden/yerinden-gazetesi/korhangumus1", title: "Süreci dönüştürelim, binayı dönüştürmek değil mesele", desc: "Korhan Gümüş ile seçim çalışmalarını konuştuk" },
{img: "https://lh3.googleusercontent.com/-RdKpThOpONw/Uy2H1tfaNtI/AAAAAAAABvQ/fYQlUdRw1Is/w719-h373-no/aysenur.jpg", link: "/bizden/yerinden-gazetesi/mugla3", title: "HDP ile ekolojik ve özgürlükçü bir hareketi geliştireceğiz", desc: "Barış önce iki kişi arasında başlar. Biz iki kişi barışa başladık buralarda" }
]


%section.clearfix.hidden-xs.hidden-sm
  %h1.hidden Anasayfa

  - if @page.metadata("Carousel")
    = slim :'partials/carousel', layout: false, locals: { slides: @page.metadata("Carousel") }

%hr

%section.clearfix.box-4
  %heading
    %h2.hidden Basın Açıklamaları
  = slim :'partials/list', locals: { collection: articles_in_category('basin-aciklamalari', 8) }

%hr

%section.clearfix.box-4
  %heading
    %h2.hidden Yerinden Gazetesi
  = slim :'partials/list', locals: { collection: articles_in_category('yerinden-gazetesi', 8) }

%hr

  %heading
    %h2.hidden 4 Adalet Kampanyası
= slim :kampanya_4a, layout: false
