Title: Yeşiller ve Sol Gelecek Partisi
Link text: Anasayfa
Template: welcome
Carousel: [
{img: "https://lh6.googleusercontent.com/-aI4Rr1ds8K4/VNpOaamfdoI/AAAAAAAACW8/o8aYzOgS9t8/w713-h366-no/HDP.png", link: "/diyoruz-ki/basin-aciklamalari/2015-02-10", title: "Barışa ve Umuda Şans Ver!", desc: "7 Haziran genel seçimlerinde Oylar HDP'ye" },
{img: "https://lh5.googleusercontent.com/-NrXJcf71FK4/VNpQpH9V32I/AAAAAAAACXM/Xd7SN7pqJQU/w713-h366-no/syriza.png", link: "/diyoruz-ki/basin-aciklamalari/2015-01-27", title: "Syriza Umudumuzu Büyütüyor", desc: "Dalga dalga solun gelecek umudunu yükselten bu başarısından dolayı Syriza’yı kutluyoruz" },
{img: "https://lh3.googleusercontent.com/-FdOBmGWfk68/UzQRqd6C0-I/AAAAAAAAB4s/5jObwrjA3Hw/w713-h371-no/hap.jpg", link: "/belgeler/soru-cevap", title: "Yeşiller ve Sol Gelecek Kendini Anlatıyor", desc: "444 soru ve cevaplarıyla kendimizi anlatmaya çalıştık" }
]


%section.clearfix.hidden-xs.hidden-sm
  %h1.hidden Anasayfa

  - if @page.metadata("Carousel")
    = slim :'partials/carousel', layout: false, locals: { slides: @page.metadata("Carousel") }

%hr

%section.clearfix.box-4
  %heading
    %h2.hidden Basın Açıklamaları
  = slim :'partials/list', locals: { collection: articles_in_category('basin-aciklamalari', 8) }

%hr

%section.clearfix.box-4
  %heading
    %h2.hidden Yerinden Gazetesi
  = slim :'partials/list', locals: { collection: articles_in_category('yerinden-gazetesi', 8) }

%hr

  %heading
    %h2.hidden 4 Adalet Kampanyası
= slim :kampanya_4a, layout: false
