#content_menu {
	margin-top: -40px;
	float: right;
  right: 0px;
	position: relative;
	background-color: #ffffff;
}

#content_menu.subnav ul{
	list-style: none;
	padding-left: 0px;
}

.subnav ul li a{
  color: rgba(127,62,152,1);
  padding: 5px;
	font-size: 12px;
	font-weight:500;
  display: block;
  border-bottom: 1px solid #dddddd;
}

.subnav > ul > li > a:hover,
.subnav > ul > li > a:focus {
  color: #fff;
  background-color: rgba(127, 62, 152, 0.6);
}
