body {
  background:#000;
  margin:auto;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  leftmargin="0"
  topmargin="45"
  rightmargin="0"
  bottommargin="0"
  marginwidth="0"
  marginheight="45"
}

sub{ clear:both; font-size:8px; }
